@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family:  "poppins", sans-serif;
}



.flash-cards {
    width: 100%;
    min-height: 100vh;
    background-color: blue;
    background-image: url(../img/dark\ background\ 3.jpg);
    background-repeat: none;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    flex-wrap: wrap;
    justify-content: space-around ;
    place-items: center;
    gap: 45px;
    padding: 35px;
}

.cards {
    height: 250px;
    width: 200px;
    perspective: 1000px;
    border-radius: 10px;

}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cards .card-inner.active{
    transform: rotateY(180deg);
}

.card-front,
 .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    font-size: 1rem;
    background: #38dbf11a;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    border: double #4bf6fc 6px;
    color: #ffffff;
    box-shadow: #4bf6fc 0 0 15px;
}

.cards span{
    color: #bd0404;
    font-size: 1.5rem;
    padding: 2px;
}
.card-back {
     border: double #73f81a 6px;
    background: #73f81a33;
     box-shadow: #73f81a 0 0 15px;
     backdrop-filter: blur(10px);
    transform: rotateY(180deg);
}

@media (max-width: 480px) {
    .cards{
        width: 150px;
        height: 200px;
    }

    .flash-cards{
        padding: 15px;
        gap: 15px;
    }

    .card-front,
    .card-back{
        font-size: 0.9rem;
        padding: 8px;
    }
}